html { 
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

video {
    cursor: pointer;
}

.container {
    font-family: Verdana;
    color: white;
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    text-align: center;
}

.line {
	width: 90%;
	background-color: white;
	height: 1px;
	position: relative;
	margin: 100px;
}

.caption, .leftMenuItem {
    position: absolute;
}

.caption {
    width: 90%;
    text-align: right;
    font-size: 32px;
    top: -23px;
}

a {
    text-decoration: none;
    color: white;
}

.leftMenuItem {
	width: 100%;
    font-size: 48px;
    text-align: left;
    left: 10%;
    top: -35px;
}

.imageContainer {
	height: 100%;
	margin-bottom: 75px;
}

.image {
	height: 90%;
}

.comment {
    font-size: 18px;
}

.visualsHeader {
    font-size: 32px;
    margin-bottom: 75px;
}

.fbDialog {
	font-size: 18px;
    width: 50%;
	margin-bottom: 100px;
	display: inline-block;
}

.x {
	position: fixed;
	left: 35px;
	top: 20px;
    font-size: 32px;
}

.videoClassName {
    margin-bottom: 225px;
}