html { 
  background: url(../images/bg-alt.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
}

.line {
	width: 90%;
	background-color: white;
	height: 1px;
	position: relative;
	margin: 100px;
}

.caption, .leftMenuItem {
    color: white;
    font-family: Verdana;
    position: absolute;
}

.caption {
    width: 90%;
    text-align: right;
    font-size: 32px;
    top: -23px;
}

.leftMenuItem {
	width: 100%;
    font-size: 48px;
    text-align: left;
    left: 10%;
    top: -35px;
}