html { 
  background: url(../images/bg-alt-1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	flex-direction: column;
}

.line {
	width: 90%;
	background-color: white;
	height: 1px;
	margin: 100px;
	position: relative;
}

.caption, .link {
    color: white;
    font-size: 32px;
    font-family: Verdana;
    position: absolute;
    top: -23px;
}

.caption {
    width: 90%;
    text-align: right;
}

.link {
	width: 100%;
    text-align: center;
}